.search-tags {
    margin-top: 7px;
}

.input-group {
    .autocomplete,
    .plain {
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        margin-bottom: 0;

        .form-control {
            border-radius: 0;
            width: 100%;
        }
    }

    .plain > ::ng-deep.ngui-auto-complete-wrapper {
        display: none;
    }

    .autocomplete > .form-control {
        display: none;
    }
}
