@import "../../../shared/global.scss";


.detail-menu {
    height: 44px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0.4em;
    border-bottom: 1px solid lighten($color-accent-darker, 50%);
    background: $color-accent;
    padding-right: 15px;

    .btn {
        float: right;
        background: transparent;
        height: 100%;
        border-radius: 0;
        border-color: transparent;
        color: $color-primary;

        i {
            font-size: 1.2em;
        }
    }
}

.tab-content {
    padding: 17px;
}

.detail-content {
    position: absolute;
    top: 55px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;

    .form-content {
        display: flex;
        flex-direction: column;

        &>.navbar {
            min-height: 56px;

            .navbar-collapse.show,
            .navbar-collapse.collapsing {
                &>.nav-tabs>.nav-item {
                    margin-bottom: 0;
                }

                border: solid 1px #ddd;
                border-radius: 0.25em;

                &>ul {
                    border: 0;

                    &>li>a {
                        padding-left: 7px;
                        border: 0;
                        border-radius: 0;
                    }
                }
            }
        }
    }

}
