<ng-template #debug>
    <pre *ngIf="form"><code>{{ diagnostic | json }}</code></pre>
</ng-template>

<form (ngSubmit)="onSubmit.emit($event)" (keydown.enter)="onEnter($event)">
    <div class="detail-menu">
        <button class="btn btn-primary" type="submit" [disabled]="!isNew && !form.dirty" title="Save">
            <i class="fa fa-floppy-o"></i>
        </button>
        <button class="btn btn-primary" (click)="reset()" type="button" [disabled]="!form.dirty || isNew"
            title="Undo unsaved changes">
            <i class="fa fa-undo"></i>
        </button>
        <button class="btn btn-primary" (click)="onBack.emit()" type="button" [appHideWhenDesktop]="true"
            title="Go back">
            <i class="fa fa-arrow-left"></i>
        </button>
    </div>

    <div class="detail-content">
        <div class="form-content">
            <nav class="navbar navbar-expand-md navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#detailMenu"
                    aria-controls="detailMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="detailMenu">
                    <ul class="nav nav-tabs navbar-nav mr-auto w-100" role="tablist">
                        <li class="nav-item" *ngFor="let key of pageKeys">
                            <a class="nav-link" [ngClass]="{ 'active': key === defaultPage }" [attr.href]="'#' + key"
                                [attr.aria-controls]="key" [attr.aria-selected]="key === defaultPage" role="tab"
                                data-toggle="tab" *ngIf="key !== deleteTab || !isNew">{{ key }}</a>
                        </li>
                        <li class="nav-item" *ngIf="showDebug">
                            <a class="nav-link" href="#debug" aria-controls="debug" role="tab"
                                data-toggle="tab">Debug</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Tab panes -->
            <div class="tab-content" #content>
                <div *ngFor="let key of pageKeys" role="tabpanel" class="tab-pane" [attr.id]="key"
                    [ngClass]="{ 'active': key === defaultPage }">
                    <template *ngTemplateOutlet="pages[key]"></template>
                </div>
                <div *ngIf="showDebug" role="tabpanel" class="tab-pane" id="debug">
                    <div class="card">
                        <div class="card-body">
                            <pre><code>{{ diagnostic | json }}</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
