
<form
  [formGroup]="form"
  *ngIf="tag !== undefined"
  (ngSubmit)="onSubmit($event)"
  (keydown.enter)="onEnter($event)"
>
  <div class="detail-menu">
    <button class="btn btn-primary" [routerLink]="['/tag']"  [appHideWhenDesktop]="true" title="Go back"><i class="fa fa-arrow-left"></i> Back</button>
    <button class="btn btn-primary" (click)="reset()" [disabled]="!form.dirty" title="Undo unsaved changes"><i class="fa fa-undo"></i> Reset</button>
    <button class="btn btn-primary" type="submit" [disabled]="!form.valid || !form.dirty" title="Save tag"><i class="fa fa-floppy-o"></i> Save</button>
  </div>

  <div [ngClass]="{ 'form-group':true, 'has-error': !form.controls.text.valid }">
    <label>Name</label>
    <input class="form-control" formControlName="text" placeholder="Myke" aria-describedby="name" required />
  </div>
  <div [ngClass]="{ 'form-group':true, 'has-error': !form.controls.color.valid }">
    <label>Color</label>
    <div class="input-group">
      <span class="input-group-addon input-group-addon-color">
          <i [style.background-color]="form.controls.color.value"></i>
      </span>
      <input
        class="form-control"
        [(colorPicker)]="form.controls.color.value"
        [cpPosition]="'bottom'"
        (colorPickerChange)="controlChanged('color')"
        formControlName="color"
        placeholder="#cccccc"
        aria-describedby="color"
        required
      />
    </div>
  </div>
  <div class="form-group">
    <label>Dive count</label>
    <input class="form-control-plaintext" [value]="tag.dive_count" aria-describedby="DiveCount" readonly />
  </div>
  <div class="form-group">
    <label>Last dive</label>
    <input class="form-control-plaintext" [value]="tag.last_dive | date:'y-MM-dd HH:mm:ss'"  aria-describedby="LastDive" readonly />
  </div>
  <pre><code>{{diagnostic | json}}</code></pre>
</form>