<ng-template #deleteTemplate>
    <div class="alert alert-warning">
        <h3>Delete this tag?</h3>
        <p>Are your sure you want to permanently delete this tag?</p>
        <p>All dives linked to this tag will be unlinked; the dive itself will not be deleted.</p>
        <button type="button" class="btn btn-danger" (click)="delete()">
            Yes, delete this tag.
        </button>
    </div>
</ng-template>

<ng-template #detailTemplate>
    <form [formGroup]="form">

        <div class="form-group" [ngClass]="{ 'has-danger': !form.controls.text.valid && form.controls.text.touched }">
            <label>Name</label>
            <input class="form-control" formControlName="text" placeholder="Deco" aria-describedby="name" required />
            <small class="error-text has-danger" *ngIf="form.controls.text.errors?.required">
                Name is required.
            </small>
        </div>
        <div class="form-group" [ngClass]="{ 'has-danger': !form.controls.color.valid && form.controls.color.touched }">
            <label>Color</label>
            <div class="input-group">
                <span class="input-group-addon input-group-addon-color">
                    <i [style.background-color]="form.controls.color.value"></i>
                </span>
                <input class="form-control" [(colorPicker)]="form.controls.color.value" [cpPosition]="'bottom'" (colorPickerChange)="controlChanged('color')"
                    formControlName="color" placeholder="#cccccc" aria-describedby="color" required />
            </div>
            <small class="error-text has-danger" *ngIf="form.controls.color.errors?.invalid">
                Please enter a valid color; eg #ff00ee.
            </small>
            <small class="error-text has-danger" *ngIf="form.controls.color.errors?.required">
                Color is required.
            </small>
        </div>
        <div class="form-group" *ngIf="tag.dive_count !== null">
            <label>Dive count</label>
            <input class="form-control-plaintext" [value]="tag.dive_count" aria-describedby="DiveCount" readonly />
        </div>
        <div class="form-group" *ngIf="tag.last_dive !== null">
            <label>Last dive</label>
            <input class="form-control-plaintext" [value]="tag.last_dive | date:'y-MM-dd HH:mm:ss'" aria-describedby="LastDive" readonly
            />
        </div>
    </form>
</ng-template>

<app-detail-component
    #detailComponent
    [pages]="{
        'Detail': detailTemplate,
        'Delete': deleteTemplate
    }"
    [form]="form"
    defaultPage="Detail"
    [data]="tag"
    *ngIf="tag !== undefined"
    (onSubmit)="onSubmit($event)"
    (onBack)="back()"
>
</app-detail-component>