<ng-template #profileTemplate>
    <app-dive-profile #diveProfile [dive]="dive"></app-dive-profile>
</ng-template>

<ng-template #deleteTemplate>
    <div class="alert alert-warning">
        <h3>Delete this dive?</h3>
        <p>Are your sure you want to permanently delete this dive?</p>
        <button type="button" class="btn btn-danger" (click)="delete()">
            Yes, delete this dive.
        </button>
    </div>
</ng-template>

<ng-template #detailTemplate>
    <form [formGroup]="form">

        <div class="form-group row" [ngClass]="{ 'has-danger': !form.controls.date.valid && form.controls.date.touched }">
            <label class="col-sm-2 control-label">Date</label>
            <div class="col-sm-10">
                <input class="form-control" formControlName="date" placeholder="{{CurrentDate}}" />

                <small class="has-danger error-text" *ngIf="form.controls.date.errors?.required">
                    Date is required
                </small>
                <small class="has-danger error-text" *ngIf="form.controls.date.errors?.invalid">
                    Date must be a valid date (time). Accepted values are: 2017-07-22 22:59:59, 2017-07-22, 2017-07-22 22, 2017-07-22 22:59.
                </small>
            </div>
        </div>
        <div class="form-group row" [ngClass]="{ 'has-danger': !form.controls.divetime.valid && form.controls.divetime.touched }">
            <label class="col-sm-2 control-label">Dive time</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="divetime" placeholder="00:00:00" />
                <small class="has-danger error-text" *ngIf="form.controls.divetime.errors?.required">
                    Divetime is required
                </small>
                <small class="has-danger error-text" *ngIf="form.controls.divetime.errors?.invalid">
                    Divetime must be a valid duration; Accepted values are: 00:00:00 or 00:00
                </small>
            </div>
        </div>
        <div class="form-group row" [ngClass]="{ 'has-danger': !form.controls.maxDepth.valid && form.controls.maxDepth.touched }">
            <label class="col-sm-2 control-label">Max depth</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="maxDepth" placeholder="0.00" />

                <small class="has-danger error-text" *ngIf="form.controls.maxDepth.errors?.required">
                    Max depth is required
                </small>
                <small class="has-danger error-text" *ngIf="form.controls.maxDepth.errors?.pattern">
                    Max depth must be a valid numer; Accepted values are: 10.05
                </small>
            </div>
        </div>
        <div class="form-group row" [ngClass]="{ 'has-danger': !form.controls.tank.valid && form.controls.tank.touched }">
            <label class="hidden-xs col-sm-2 control-label">Tank</label>
            <div class="col-sm-10">

                <div class="row">
                    <div class="col">
                        <label>
                            Tank Volume
                        </label>
                    </div>
                    <div class="col">
                        <label>
                            Ogygen percentage
                        </label>
                    </div>
                </div>
                <div class="input-group-group" formGroupName="tank">
                    <div class="input-group">
                        <input type="text" class="form-control" formControlName="volume" placeholder="10" required />
                        <span class="input-group-addon">L</span>
                        <input type="text" class="form-control" formControlName="airPercentage" placeholder="21" required />
                        <span class="input-group-addon">%</span>
                    </div>
                    <div class="input-group" width="100%">
                        <input type="text" class="form-control" formControlName="pressureStart" placeholder="200" required />
                        <span class="input-group-btn" style="width:0px;"></span>
                        <input type="text" class="form-control" formControlName="pressureEnd" placeholder="50" required />
                        <div class="dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{form.controls.tank.controls.pressureType.value}}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" (click)="form.controls.tank.controls.pressureType.setValue('bar')">bar</a>
                                <a class="dropdown-item" (click)="form.controls.tank.controls.pressureType.setValue('psi')">psi</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>
                            Start Pressure
                        </label>
                    </div>
                    <div class="col">
                        <label>
                            End Pressure
                        </label>
                    </div>
                </div>

                <small class="has-danger error-text" *ngIf="form.controls.tank.controls.volume.errors?.required && form.controls.tank.controls.volume.touched">
                    Tank volume is required
                </small>
                <small class="has-danger error-text" *ngIf="form.controls.tank.controls.volume.errors?.invalid && form.controls.tank.controls.volume.touched">
                    Tank volume must be a valid integer; eg 10
                </small>

                <small class="has-danger error-text" *ngIf="form.controls.tank.controls.airPercentage.errors?.required && form.controls.tank.controls.airPercentage.touched">
                    Oxygen percentage is required
                </small>
                <small class="has-danger error-text" *ngIf="form.controls.tank.controls.airPercentage.errors?.invalid && form.controls.tank.controls.airPercentage.touched">
                    Oxygen percentage must be an integer number; eg 21
                </small>

                <small class="has-danger error-text" *ngIf="form.controls.tank.controls.pressureStart.errors?.required && form.controls.tank.controls.pressureStart.touched">
                    Start pressure is required
                </small>
                <small class="has-danger error-text" *ngIf="form.controls.tank.controls.pressureStart.errors?.invalid && form.controls.tank.controls.pressureStart.touched">
                    Start pressure must be a valid number; eg 10.05
                </small>

                <small class="has-danger error-text" *ngIf="form.controls.tank.controls.pressureEnd.errors?.required && form.controls.tank.controls.pressureEnd.touched">
                    End pressure is required
                </small>
                <small class="has-danger error-text" *ngIf="form.controls.tank.controls.pressureEnd.errors?.invalid && form.controls.tank.controls.pressureEnd.touched">
                    End pressure must be a valid number; eg 10.05
                </small>

            </div>
        </div>
        <div class="form-group row" [ngClass]="{ 'has-danger': !form.controls.place.valid && form.controls.place.touched }">
            <label class="col-sm-2 control-label">Divespot</label>
            <div class="col-sm-10">

                <div class="input-group manual-radius" style="width: 100%" formGroupName="place">
                    <app-autocomplete
                        placeholder="Name"
                        inputClass="form-control left-control"
                        [value]="form.controls.place.controls.name.value"
                        [source]="getDivespots.bind(this)"
                        [newItem]="newDiveSpot.bind(this)"
                        (changed)="diveSpotChanged($event)"
                        displayItem="name"
                    ></app-autocomplete>
                    <span class="input-group-btn" style="width:0px;"></span>
                    <app-autocomplete
                        placeholder="Country"
                        inputClass="form-control right-control"
                        formControlName="country"
                        [source]="getCountries.bind(this)"
                        (changed)="diveCountryChanged($event)"
                        displayItem="code"
                        keyItem="code"
                        listItem="description"
                        forceSelection="true"
                    ></app-autocomplete>
                </div>
                <small class="has-danger error-text">
                    Both or none need to be filled
                </small>

            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label">Buddies</label>
            <div class="col-sm-10">
                <app-tags-control formControlName="buddies" placeholder="Myke" [source]="getBuddies.bind(this)"></app-tags-control>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 control-label">Tags</label>
            <div class="col-sm-10">
                <app-tags-control formControlName="tags" placeholder="Deco" [source]="getTags.bind(this)"></app-tags-control>
            </div>
        </div>

    </form>
</ng-template>

<app-detail-component
    #detailComponent
    [pages]="{
        'Detail': detailTemplate,
        'Profile': profileTemplate,
        'Delete': deleteTemplate
    }"
    [form]="form"
    defaultPage="Detail"
    [data]="diveFormData"
    *ngIf="dive !== undefined"
    (onSubmit)="onSubmit($event)"
    (onBack)="back()"
>
</app-detail-component>

<!-- <form
    class="form-horizontal dive-details d-flex flex-column"
    *ngIf="dive !== undefined"
    (keydown.enter)="onEnter($event)"
    [formGroup]="form"
    (ngSubmit)="onSubmit($event)">
    <div class="detail-menu">
        <button class="btn btn-lg btn-primary" type="submit" [disabled]="(!form.valid || !form.dirty) && !dive.isNew" title="Save dive">
            <i class="fa fa-floppy-o"></i>
        </button>
        <button class="btn btn-lg btn-primary" (click)="reset()" [disabled]="!form.dirty || dive.isNew" title="Undo unsaved changes">
            <i class="fa fa-undo"></i>
        </button>
        <button class="btn btn-lg btn-primary" (click)="back()" [appHideWhenDesktop]="true" title="Go back">
            <i class="fa fa-arrow-left"></i>
        </button>
    </div>

    <div class="form-content">
        <nav class="navbar navbar-expand-md navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="nav nab-tabs navbar-nav mr-auto" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#dive" aria-controls="dive" role="tab" data-toggle="tab">Dive</a>
                    </li>
                    <li class="nav-item" [hidden]="dive.id === undefined || diveProfile.data.length === 0">
                        <a class="nav-link" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a *ngIf="!dive.isNew" class="nav-link" href="#delete" aria-controls="delete" role="tab" data-toggle="tab">Delete</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#debug" aria-controls="debug" role="tab" data-toggle="tab">Debug</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="dive">

                <div class="form-group row" [ngClass]="{ 'has-danger': !form.controls.date.valid && form.controls.date.touched }">
                    <label class="col-sm-2 control-label">Date</label>
                    <div class="col-sm-10">
                        <input class="form-control" formControlName="date" placeholder="{{CurrentDate}}" />

                        <small class="has-danger error-text" *ngIf="form.controls.date.errors?.required">
                            Date is required
                        </small>
                        <small class="has-danger error-text" *ngIf="form.controls.date.errors?.invalid">
                            Date must be a valid date (time). Accepted values are: 2017-07-22 22:59:59, 2017-07-22, 2017-07-22 22, 2017-07-22 22:59.
                        </small>
                    </div>
                </div>
                <div class="form-group row" [ngClass]="{ 'has-danger': !form.controls.divetime.valid && form.controls.divetime.touched }">
                    <label class="col-sm-2 control-label">Dive time</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" formControlName="divetime" placeholder="00:00:00" />
                        <small class="has-danger error-text" *ngIf="form.controls.divetime.errors?.required">
                            Divetime is required
                        </small>
                        <small class="has-danger error-text" *ngIf="form.controls.divetime.errors?.invalid">
                            Divetime must be a valid duration; Accepted values are: 00:00:00 or 00:00
                        </small>
                    </div>
                </div>
                <div class="form-group row" [ngClass]="{ 'has-danger': !form.controls.maxDepth.valid && form.controls.maxDepth.touched }">
                    <label class="col-sm-2 control-label">Max depth</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" formControlName="maxDepth" placeholder="0.00" />

                        <small class="has-danger error-text" *ngIf="form.controls.maxDepth.errors?.required">
                            Max depth is required
                        </small>
                        <small class="has-danger error-text" *ngIf="form.controls.maxDepth.errors?.pattern">
                            Max depth must be a valid numer; Accepted values are: 10.05
                        </small>
                    </div>
                </div>
                <div class="form-group row" [ngClass]="{ 'has-danger': !form.controls.tank.valid && form.controls.tank.touched }">
                    <label class="hidden-xs col-sm-2 control-label">Tank</label>
                    <div class="col-sm-10">

                        <div class="row">
                            <div class="col">
                                <label>
                                    Tank Volume
                                </label>
                            </div>
                            <div class="col">
                                <label>
                                    Ogygen percentage
                                </label>
                            </div>
                        </div>
                        <div class="input-group-group" formGroupName="tank">
                            <div class="input-group">
                                <input type="text" class="form-control" formControlName="volume" placeholder="10" required />
                                <span class="input-group-addon">L</span>
                                <input type="text" class="form-control" formControlName="airPercentage" placeholder="21" required />
                                <span class="input-group-addon">%</span>
                            </div>
                            <div class="input-group" width="100%">
                                <input type="text" class="form-control" formControlName="pressureStart" placeholder="200" required />
                                <span class="input-group-btn" style="width:0px;"></span>
                                <input type="text" class="form-control" formControlName="pressureEnd" placeholder="50" required />
                                <div class="dropdown">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{form.controls.tank.controls.pressureType.value}}
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" (click)="form.controls.tank.controls.pressureType.setValue('bar')">bar</a>
                                        <a class="dropdown-item" (click)="form.controls.tank.controls.pressureType.setValue('psi')">psi</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>
                                    Start Pressure
                                </label>
                            </div>
                            <div class="col">
                                <label>
                                    End Pressure
                                </label>
                            </div>
                        </div>

                        <small class="has-danger error-text" *ngIf="form.controls.tank.controls.volume.errors?.required && form.controls.tank.controls.volume.touched">
                            Tank volume is required
                        </small>
                        <small class="has-danger error-text" *ngIf="form.controls.tank.controls.volume.errors?.invalid && form.controls.tank.controls.volume.touched">
                            Tank volume must be a valid integer; eg 10
                        </small>

                        <small class="has-danger error-text" *ngIf="form.controls.tank.controls.airPercentage.errors?.required && form.controls.tank.controls.airPercentage.touched">
                            Oxygen percentage is required
                        </small>
                        <small class="has-danger error-text" *ngIf="form.controls.tank.controls.airPercentage.errors?.invalid && form.controls.tank.controls.airPercentage.touched">
                            Oxygen percentage must be an integer number; eg 21
                        </small>

                        <small class="has-danger error-text" *ngIf="form.controls.tank.controls.pressureStart.errors?.required && form.controls.tank.controls.pressureStart.touched">
                            Start pressure is required
                        </small>
                        <small class="has-danger error-text" *ngIf="form.controls.tank.controls.pressureStart.errors?.invalid && form.controls.tank.controls.pressureStart.touched">
                            Start pressure must be a valid number; eg 10.05
                        </small>

                        <small class="has-danger error-text" *ngIf="form.controls.tank.controls.pressureEnd.errors?.required && form.controls.tank.controls.pressureEnd.touched">
                            End pressure is required
                        </small>
                        <small class="has-danger error-text" *ngIf="form.controls.tank.controls.pressureEnd.errors?.invalid && form.controls.tank.controls.pressureEnd.touched">
                            End pressure must be a valid number; eg 10.05
                        </small>

                    </div>
                </div>
                <div class="form-group row" [ngClass]="{ 'has-danger': !form.controls.place.valid && form.controls.place.touched }">
                    <label class="col-sm-2 control-label">Divespot</label>
                    <div class="col-sm-10">

                        <div class="input-group manual-radius" style="width: 100%" formGroupName="place">
                            <app-autocomplete
                                placeholder="Name"
                                inputClass="form-control left-control"
                                [value]="form.controls.place.controls.name.value"
                                [source]="getDivespots.bind(this)"
                                [newItem]="newDiveSpot.bind(this)"
                                (changed)="diveSpotChanged($event)"
                                displayItem="name"
                            ></app-autocomplete>
                            <span class="input-group-btn" style="width:0px;"></span>
                            <app-autocomplete
                                placeholder="Country"
                                inputClass="form-control right-control"
                                formControlName="country"
                                [source]="getCountries.bind(this)"
                                (changed)="diveCountryChanged($event)"
                                displayItem="code"
                                keyItem="code"
                                listItem="description"
                                forceSelection="true"
                            ></app-autocomplete>
                        </div>
                        <small class="has-danger error-text">
                            Both or none need to be filled
                        </small>

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">Buddies</label>
                    <div class="col-sm-10">
                        <app-tags-control formControlName="buddies" placeholder="Myke" [source]="getBuddies.bind(this)"></app-tags-control>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 control-label">Tags</label>
                    <div class="col-sm-10">
                        <app-tags-control formControlName="tags" placeholder="Deco" [source]="getTags.bind(this)"></app-tags-control>
                    </div>
                </div>

            </div>

            <div role="tabpanel" class="tab-pane" id="profile">
                <app-dive-profile #diveProfile [dive]="dive"></app-dive-profile>
            </div>

            <div role="tabpanel" class="tab-pane" id="delete" *ngIf="!dive.isNew">
                <div class="alert alert-warning">
                    <h3>Delete this dive?</h3>
                    <p>Are your sure you want to permanently delete this dive?</p>
                    <button type="button" class="btn btn-danger" (click)="delete()">
                        Yes, delete this dive.
                    </button>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="debug">
                <div class="card">
                    <div class="card-body">
                        <pre><code>{{ diagnostic | json }}</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form> -->