@import "../../shared/global.scss";

.menu-container {
    position:fixed;
    left: 0;
    top: 0;
    width: 155px;
    height: 100%;
    background: $color-accent;

    li {
        margin-top: 0;
        
        a {
            color: $color-primary;
            border-radius: 0;

            i.fa {}
            
            span {
                padding-left: 12px;
            }

            &.is-active {
                background: lighten($color-accent, 10%);
            }

            &:hover {
                background: lighten($color-accent, 10%); 
            }
        }
    }
}

