.tags {
    margin-bottom: 3px;

    .label {
        margin-right: 3px;
        padding: 0.4em 0.7em 0.5em;
        display: inline-block;

        a {
            color: inherit;
            cursor: pointer;
        }
    }
}
