$color-accent: #2980b9;
$color-accent-darker: darken(#2980b9, 10%);
$color-primary: #ecf0f1;
$color-subtle: #aaaaaa;

$width-menu-expanded: 155px;
$width-menu-collapsed: 45px;

$min-width-menu-collapsable: 600px;
