@import "./shared/global.scss";

body {
    background: $color-primary;
}

.content {
    transition: padding 1s;
    padding-left: $width-menu-expanded;

    &.menu-collapsed {
        padding-left: $width-menu-collapsed;
    }
}

/deep/ ng2-auto-complete, /deep/ .ng2-auto-complete {
    z-index: 5 !important;
}

/deep/ .input-group-addon.input-group-addon-color i {
    width: 16px;
    height: 16px;

}

/deep/ .collapsed-input-group, {
    .form-control {
        &:not(:last-child) {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            margin-bottom: -1px;
        }

        &:not(:first-child) {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
}


/deep/ .error-text.has-danger {
    display: none;
    color: #a94442;
    margin-left: 7px;
}

/deep/ .has-danger .error-text  {
    display: block;
}


// /deep/ .detail-menu {
//     height: 55px;
//     margin-left: -15px;
//     margin-right: -15px;
//     margin-bottom: 0.4em;
//     border-bottom: 1px solid $color-accent-darker;
//     background: $color-accent-darker;
//     padding-right: 15px;

//     .btn {
//         float: right;
//         height: 100%;
//         background-color: $color-accent-darker;
//         border-radius: 0;
//         border-right: 1px solid lighten($color-accent-darker, 5%);
//         border-color: transparent;

//         &:hover {
//             background: lighten($color-accent-darker, 10%);
//         }

//         i {
//             font-size: 1.2em;
//         }
//     }
// }

// /deep/ .list-menu {
//     padding: 0.6em 0 0.4em 0.3em;

//     .btn {
//         background-color: $color-accent;
//         border-color:  $color-accent;
//     }
// }

// /deep/ .list-component {
//     position: relative;
//     height: 100%;
//     min-height: 100vh;

//     .list-view {
//         position: absolute;
//         top: 0;
//         bottom: 0;
//         left: 0;
//         right: 0;
//         overflow-y: scroll;

//         &.list-view-with-menu {
//             top: 55px;
//         }
//     }

// }

// /deep/ .detail-component {

//     .form-content {
//         position: absolute;
//         top: 55px;
//         bottom: 0;
//         left: 0;
//         right: 0;
//         padding: 7px;
//     }

//     // .nav-tabs {
//     //     width: 100%;

//     // }

//     // .tab-pane {
//     //     position: absolute;
//     //     top: 112px;
//     //     bottom: 0;
//     //     right: 0;
//     //     left: 0;
//     //     overflow: auto;
//     //     padding: 32px 32px 0 32px;
//     // }

// }

:host /deep/ .manual-radius {
    & /deep/ .left-control {
        border-radius: 4px 0 0 4px !important;
    }

    & /deep/ .right-control {
        border-radius: 0 4px 4px 0 !important;
    }

    & /deep/ .middle-control {
        border-radius: 0px !important;
    }
}

/deep/ .input-group app-autocomplete {
    flex: auto;

    & /deep/ .ng2-auto-complete-wrapper {
        display: flex;
    }
}

/deep/ .input-group .ng2-auto-complete-wrapper {
    display: flex;
}

/deep/ .input-group-group {
    .input-group {

        .form-control,.input-group-addon,.input-group-btn .btn, .dropdown .btn {
            border-radius: 0;
            border-top-width: 0;

        }
        .input-group-btn .btn {
            border-top-width: 1px;
            border-top-color: transparent;
        }

        &:first-child {
            .form-control,.input-group-addon,.input-group-btn .btn, .dropdown .btn {
                border-top-width: 1px;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }
            &.input-group-btn .btn {
                border-top-color: initial;
            }

            .form-control:not(:last-child),.input-group-addon:not(:last-child),.input-group-btn:not(:last-child) .btn, .dropdown:not(:last-child) .btn {
                border-top-right-radius: 0;
            }

            .form-control:not(:first-child),.input-group-addon:not(:first-child),.input-group-btn:not(:first-child) .btn, .dropdown:not(:first-child) .btn {
                border-top-left-radius: 0;
            }
        }

        &:last-child {
            .form-control,.input-group-addon,.input-group-btn .btn, .dropdown .btn {
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
            }

            .form-control:not(:last-child),.input-group-addon:not(:last-child),.input-group-btn:not(:last-child) .btn, .dropdown:not(:last-child) .btn {
                border-bottom-right-radius: 0;
            }

            .form-control:not(:first-child),.input-group-addon:not(:first-child),.input-group-btn:not(:first-child) .btn, .dropdown:not(:first-child) .btn {
                border-bottom-left-radius: 0;
            }
        }

    }
}

/deep/ .clear-fix {
    clear: both;
}
