@import "./shared/global.scss"; 

body {
    background: $color-primary;
}

.content {
    transition: padding 1s;
    padding-left: $width-menu-expanded;

    &.menu-collapsed {
        padding-left: $width-menu-collapsed;
    }
}