@import "./shared/global.scss";

body {
    background: $color-primary;
}

.content {
    transition: padding 1s;
    padding-left: $width-menu-expanded;

    &.menu-collapsed {
        padding-left: $width-menu-collapsed;
    }
}

/deep/ ng2-auto-complete, /deep/ .ng2-auto-complete {
    z-index: 5 !important;
}

/deep/ .input-group-addon.input-group-addon-color i {
    width: 16px;
    height: 16px;

}