<div class="container">
  <h1>Join the club!</h1>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit"
  >
    <div class="form-group">
      <label>Email address</label>
      <input
        [ngClass]="{
          'form-control': true,
          'is-invalid': form.controls.email.invalid && form.controls.email.dirty
        }"
        formControlName="email"
        type="email"
        appHelpOnFocus
        aria-describedby="emailHelp"
        placeholder="tom@domain.tld"
      >
      <small id="emailHelp" class="form-text text-muted" style="display: none;">
        Your email is used for: Authorization, password resets.<br />
        Your email is not used for: Marketing, sharing with 3rth parties.<br />
        Your email maybe used for (personal preference): Notifications and newsletters.<br />
      </small>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input
        [ngClass]="{
          'form-control': true,
          'is-invalid': form.controls.password.dirty && form.controls.password.invalid
        }"
        formControlName="password"
        type="password"
        class="form-control"
        placeholder="xxxxxxx"
      >
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input
        [ngClass]="{
          'form-control': true,
          'is-invalid': form.controls.confirmPassword.dirty && form.controls.password.invalid || form.hasError('mismatchedPasswords')
        }"
        formControlName="confirmPassword"
        type="password"
        placeholder="xxxxxxx"
      >
    </div>
    <div class="form-group">
      <label>Display name</label>
      <input formControlName="name" type="name" class="form-control" placeholder="Thomas Andersson">
    </div>
    <div class="form-group">
      <div *ngIf="errorMsg" class="alert alert-danger" role="alert">
        {{errorMsg}}
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Register</button>
    </div>
  </form>
</div>