<div class="master-menu">
    <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-primary" [routerLink]="['/dive/new/']"><i class="fa fa-plus"></i></button>
        </span>
        <input class="form-control" #search type="text" placeholder="Search..."  (keyup.enter)="refresh()" />
        <span class="input-group-btn">
            <button class="btn btn-primary" (click)="refresh()"><i class="fa fa-search"></i></button>
        </span>
    </div>
</div>
<div class="dive-list">
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Date</td>
                <td class="d-none d-md-table-cell">Divetime</td>
                <td>Tags</td>
                <td class="d-none d-sm-table-cell">Divespot</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dive of dives" (click)="selectDive(dive)" [ngClass]="{ 'table-active': selectedDive !== undefined && dive.id === selectedDive.id }">
                <td>{{ dive.date | date: "y-MM-dd HH:mm:ss"}}</td>
                <td class="d-none d-md-table-cell">{{ dive.divetime }}</td>
                <td><app-tags [tags]="dive.tags"></app-tags></td>
                <td class="d-none d-sm-table-cell">{{ dive.placeStr }}</td>
            </tr>
        </tbody>
    </table>
</div>