<div class="master-menu">
    <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-primary" [routerLink]="['/dive/new/']"><i class="fa fa-plus"></i></button>
        </span>
        <input class="form-control" type="text" placeholder="Search..." />
    </div>
</div>
<div class="dive-list">
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Date</td>
                <td>Divetime</td>
                <td>Tags</td>
                <td class="hidden-xs hidden-md">Divespot</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dive of dives" [routerLink]="['/dive', dive.id]" [ngClass]="{ 'active': selectedDive !== undefined && dive.id === selectedDive.id }">
                <td>{{ dive.date | date: "y-MM-dd HH:mm:ss"}}</td>
                <td>{{ dive.divetime }}</td>
                <td><app-tags [tags]="dive.tags"></app-tags></td>
                <td class="hidden-xs hidden-md">{{ dive.placeStr }}</td>
            </tr>
        </tbody>
    </table>
</div>