.tags {
    margin-bottom: 3px;

    .badge {
        margin-right: 3px;
        padding: .4em .7em .5em;
        display: inline-block;

        a {
            color: inherit;
            cursor: pointer;
        }
    }
}