@import "../../../shared/global.scss";

.list-menu {
    padding: 0.6em 0 0.4em 0.3em;

    .btn {
        background-color: $color-accent;
        border-color:  $color-accent;
    }
}

.list-component {
    position: relative;
    height: 100%;
    min-height: 100vh;

    .list-view {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-y: scroll;

        &.list-view-with-menu {
            top: 55px;
        }
    }

}

.detail-component {
    position: relative;
    min-height: 100vh;
    height: 100%;
    border-left: 1px solid $color-accent;
}
