<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="last_session" value="{&quot;SerialPort&quot;:&quot;COM1&quot;,&quot;Computer&quot;:&quot;Suunto EON Steel&quot;,&quot;Destination&quot;:&quot;C:\\Users\\Vincent\\Documents\\test3.json&quot;,&quot;Target&quot;:1,&quot;AppToken&quot;:null}" />
    </appSettings>
</configuration>