<app-tags
  [tags]="tags"
  canremove="true"
  (onremove)="removeTag($event.index)"
></app-tags>

<app-autocomplete
  *ngIf="source !== undefined"
  inputClass="form-control"
  [source]="getData.bind(this)"
  (changed)="pickTag($event)"
  display-item="text"
  forceSelection="false"
></app-autocomplete>
<div *ngIf="source === undefined" class="input-group">
  <span class="input-group-btn">
    <button
        (click)="addTag({ 'text': tagInput.value, 'color': randomColor() })"
        class="btn btn-default"
        type="button"
      >
      <i class="glyphicon glyphicon-plus"></i>
    </button>
  </span>
  <input #tagInput
    class="form-control"
  />
</div>
