<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="last_session" value="{&quot;serialPort&quot;:null,&quot;computer&quot;:null,&quot;destination&quot;:null,&quot;appToken&quot;:&quot;eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJzZXNzaW9uX2lkIjoiYjYyMmYwNmQtMGJkMS00ZGViLTgwOWMtNGRkYTI1YTlmNjU1IiwiaWF0IjoxNDk3NzMwODU3LCJpc3MiOiJodHRwczovL2RpdmUubGl0dGxlZGV2Lm5sIn0.cP-M3nYP1UANcMfl6hVSQ05WzdoBJ2-DB9_qx-7shCDutHqVpwaxZM0txOnS44BDH_4W0J1nx2NFQBKyK-Hq2g&quot;}" />
  </appSettings>
</configuration>