<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="last_session" value="{&quot;SerialPort&quot;:&quot;CNCB1&quot;,&quot;Computer&quot;:&quot;Scubapro Meridian&quot;,&quot;Destination&quot;:null,&quot;Target&quot;:2,&quot;AppToken&quot;:&quot;eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoxLCJpYXQiOjE1MDY3NzY3MDUsImlzcyI6Imh0dHBzOi8vZGl2ZS5saXR0bGVkZXYubmwifQ.d2rAE9pykn6fnW8fyYG08hj5E7zp0n6S-rCuSzpLPTDkiCs8JP9F_S5ghd-TGPMl7fIAwWqRitLqDQFuMnc1Aw&quot;}" />
  </appSettings>
</configuration>