<div class="container-fluid">
  <div class="list-menu">
    <button class="btn btn-primary" [routerLink]="['/buddy/new/']"><i class="fa fa-plus"></i></button>
  </div>
  <div class="row">
    <div class="list-component col-lg-6 col-md-12" [appHideWhenMobile]="selected !== undefined">
      <table class="table table-hover">
        <thead>
          <tr>
            <td>
              Name
            </td>
            <td>
              Number of dives
            </td>
            <td>
              Last dive
            </td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bud of buddies" [ngClass]="{ 'table-active': selected !== undefined && bud.buddy_id === selected.buddy_id  }" (click)="rowClick(bud)">
            <td>
              <app-tag class="badge"
                [color]="bud.color"
                fontSize="100%"
                >
                {{bud.text}}
              </app-tag>
            </td>
            <td>{{bud.dive_count}}</td>
            <td>{{bud.last_dive | date:'y-MM-dd HH:mm:ss'}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="detail-component col-lg-6 col-md-12" [appHideWhenMobile]="selected === undefined">
      <app-buddy-detail #detail [buddy]="selected" (onDataChanged)="dataChanged($event)" ></app-buddy-detail>
    </div>
  </div>
</div>
