@import "../../../shared/global.scss";

.graph {

    /deep/ g.graph {
        /deep/ .line path {
            fill: none;
            stroke: black;
        }

        /deep/ .hover {
            display: none;
            line {
                stroke: lighten($color-accent, 25%);
            }
        }

        /deep/ .select {
            display: none;

            circle {
                fill: none;
                stroke: $color-accent;
                stroke-width: 3px;
            }
        }

        /deep/ .events cicle {
            fill: yellow;
        }

    }
}