@import "../../../shared/global.scss";

/deep/ .line {
    fill: none;
    stroke: black;
}

/deep/ .group-line {
    fill: none;
    stroke: black;
    background: #0ff;
}

/deep/ .group-left-axis {
    
}

/deep/ .group-hover {
    display: none;
    line {
        stroke: lighten($color-accent, 25%);
    }
}

/deep/ .group-select {
    display: none;

    circle {
        fill: none;
        stroke: $color-accent;
        stroke-width: 3px;
    }
}