<div class="container" *ngIf="user !== undefined">
    <div class="jumbotron">
        <h1 class="display-4">My profile</h1>
        <hr class="my-4" />
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <form [formGroup]="profileForm" (ngSubmit)="changeProfile()">
                    <div class="form-group">
                        <label>Email</label>
                        <p class="form-control-static">{{ user.email }}</p>
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" formControlName="name" type="text" placeholder="Tom" />
                    </div>
                    <div class="form-group">
                        <label>Registerd since</label>
                        <p class="form-control-static">{{ user.inserted | date: "y-MM-dd HH:mm:ss" }}</p>
                    </div>

                    <div
                        *ngIf="alertMessage && alertMessage.for === 'profile'"
                        class="alert"
                        [ngClass]="{ 'alert-danger': alertMessage.type === 'error', 'alert-success': alertMessage.type === 'success' }"
                    >
                        {{alertMessage.text}}
                    </div>
                    <button class="btn btn-primary" type="submit">Update</button>
                </form>
            </div>

            <div class="col-md-6 d-none d-md-block">
                <div class="form-group">
                    <label>Dive count</label>
                    <p class="form-control-static">{{ user.dive_count }}</p>
                </div>
                <div class="form-group">
                    <label>Buddy count</label>
                    <p class="form-control-static">{{ user.buddy_count }}</p>
                </div>
                <div class="form-group">
                    <label>Tag count</label>
                    <p class="form-control-static">{{ user.tag_count }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <h1 class="display-4">Default Equipment</h1>
        <hr class="my-4" />
        <form [formGroup]="equipmentForm" (ngSubmit)="changeEquipment()">
            <div class="form-group row" [ngClass]="{ 'has-danger': !equipmentForm.controls.tank.valid && equipmentForm.controls.tank.touched }">
                <label class="hidden-xs col-sm-2 control-label">Tank</label>
                <div class="col-sm-10">

                    <div class="row">
                        <div class="col">
                            <label>
                                Tank Volume
                            </label>
                        </div>
                        <div class="col">
                            <label>
                                Ogygen percentage
                            </label>
                        </div>
                    </div>
                    <div class="input-group-group" formGroupName="tank">
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="volume" placeholder="10" />
                            <span class="input-group-addon">L</span>
                            <input type="text" class="form-control" formControlName="airPercentage" placeholder="21" />
                            <span class="input-group-addon">%</span>
                        </div>
                        <div class="input-group" width="100%">
                            <input type="text" class="form-control" formControlName="pressureStart" placeholder="200" />
                            <!-- <span class="input-group-btn" style="width:0px;"></span>
                            <input type="text" class="form-control" formControlName="pressureEnd" placeholder="50" /> -->
                            <div class="dropdown">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{equipmentForm.controls.tank.controls.pressureType.value}}
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" (click)="equipmentForm.controls.tank.controls.pressureType.setValue('bar')">bar</a>
                                    <a class="dropdown-item" (click)="equipmentForm.controls.tank.controls.pressureType.setValue('psi')">psi</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>
                                Start Pressure
                            </label>
                        </div>
                    </div>

                    <small class="has-danger error-text" *ngIf="equipmentForm.controls.tank.controls.volume.errors?.invalid && equipmentForm.controls.tank.controls.volume.touched">
                        Tank volume must be a valid integer; eg 10
                    </small>

                    <small class="has-danger error-text" *ngIf="equipmentForm.controls.tank.controls.airPercentage.errors?.invalid && equipmentForm.controls.tank.controls.airPercentage.touched">
                        Oxygen percentage must be an integer number; eg 21
                    </small>

                    <small class="has-danger error-text" *ngIf="equipmentForm.controls.tank.controls.pressureStart.errors?.invalid && equipmentForm.controls.tank.controls.pressureStart.touched">
                        Start pressure must be a valid number; eg 10.05
                    </small>


                </div>
            </div>
            <!-- <div class="form-group"  [ngClass]="{ 'has-danger': equipmentForm.controls.tank.constrols.volume.touched && !equipmentForm.controls.tank.constrols.volume.valid }">
                <label>Tank volume (in Liters)</label>
                <input class="form-control" formControlName="tankSize" type="text" placeholder="10" />
            </div>
            <div class="form-group"  [ngClass]="{ 'has-danger': equipmentForm.controls.tankSize.touched && !equipmentForm.controls.tankSize.valid }">
                <label>Oxygen percentage</label>
                <input class="form-control" formControlName="oxygen" type="text" placeholder="21" />
            </div>
            <div class="form-group"  [ngClass]="{ 'has-danger': equipmentForm.controls.tankSize.touched && !equipmentForm.controls.tankSize.valid }">
                <label>Starting pressure</label>
                <input class="form-control" formControlName="startPressure" type="text" placeholder="200" />
            </div> -->
        </form>
    </div>

    <div class="jumbotron">
        <h1 class="display-4">Change password</h1>
        <hr class="my-4" />
        <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
            <div class="form-group"  [ngClass]="{ 'has-danger': passwordForm.controls.currentPassword.touched && !passwordForm.controls.currentPassword.valid }">
                <label>Current password</label>
                <input class="form-control" formControlName="currentPassword" type="password" placeholder="Old password" />
                <small class="error-text has-danger" *ngIf="passwordForm.controls.currentPassword.touched && passwordForm.controls.currentPassword.errors?.required">
                    Current password is required.
                </small>
            </div>
            <div class="form-group" [ngClass]="{ 'has-danger': passwordForm.controls.newPassword.touched && !passwordForm.controls.newPassword.valid }">
                <label>New password</label>
                <input class="form-control"  formControlName="newPassword" type="password" placeholder="New password" />
                <small class="error-text has-danger" *ngIf="passwordForm.controls.newPassword.errors?.required">
                    New password is required.
                </small>
            </div>
            <div class="form-group" [ngClass]="{ 'has-danger': passwordForm.controls.confirmNewPassword.touched && !passwordForm.controls.confirmNewPassword.valid }">
                <label>Confirm new password</label>
                <input class="form-control" formControlName="confirmNewPassword" type="password" placeholder="New password" />
                <small class="error-text has-danger" *ngIf="passwordForm.controls.confirmNewPassword.errors?.required">
                    Please re-enter your new password for confirmation
                </small>
                <small class="error-text has-danger" *ngIf="passwordForm.controls.confirmNewPassword.errors?.same">
                    New password and confirmation password are not the same
                </small>
            </div>
            <div
                *ngIf="alertMessage && alertMessage.for === 'password'"
                class="alert"
                [ngClass]="{ 'alert-danger': alertMessage.type === 'error', 'alert-success': alertMessage.type === 'success' }"
            >
                {{alertMessage.text}}
            </div>
            <button class="btn btn-primary" type="submit">Change password</button>
        </form>
    </div>
</div>
