<div class="row m-4">
    <div class="col">
        <div class="jumbotron">
            <h1 class="display-4">Dive Uploader</h1>
            <p class="lead">
                A simple tool for uploading your dives!
            </p>
            <hr class="my-4">
            <p>
                This tool can download dives from various dive computers and upload them to your dive log account.
            </p>
            <p class="lead">
                <button class="btn btn-primary btn-lg" type="button" (click)="download()">
                    <i class="fa fa-download"></i>
                    Download
                </button>
            </p>
        </div>
    </div>
    <div class="col">

    </div>
</div>