@import '../../shared/global.scss';

@media screen and (max-width: $min-width-menu-collapsable) {
    .menu-container {
        width: $width-menu-collapsed !important;
        .toggle-container {
            display: none;
        }
    }
}

.menu-container {
    position: fixed;
    left: 0;
    top: 0;
    width: $width-menu-expanded;
    height: 100%;
    background: $color-accent;
    overflow: hidden;
    transition: width 1s;

    &.collapsed {
        width: $width-menu-collapsed;

        .toggle-container a i {
            transform: rotate(180deg);
        }
    }

    .bottom-menu {
        position: absolute;
        bottom: 0;
        width: 100%;
        // height: 78px;
    }

    .toggle-container {
        a {
            width: 100%;
            text-align: center;
            i {
                transition: transform 1s;
            }
        }
    }

    li {
        margin-top: 0;
    }

    a {
        padding: 10px 15px;
        width: $width-menu-expanded;
        color: $color-primary;
        border-radius: 0;
        display: block;
        color: $color-primary;
        overflow: hidden;

        &:hover {
            text-decoration: none;
        }

        i.fa {
            float: left;
            line-height: 24px;
        }

        span {
            float: left;
            display: block;
            width: $width-menu-expanded - 30px - 21px; // 30px is padding (15px + 15px), 21px is fa icon
            overflow: hidden;
            padding-left: 12px;
            line-height: 24px;
            white-space: nowrap;
        }

        &.is-active {
            background: lighten($color-accent, 10%);
        }

        &:hover {
            background: lighten($color-accent, 10%);
        }
    }
}
